<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @experience.details %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @experience.guest %>
</p>

<%= link_to 'Edit', edit_guest_experience_path(@experience.guest, @experience) %> |
<%= link_to 'Guest Profile', guest_path(guest) %>
